/*

mamcmanus.com
© 2015 Matt McManus

*/

/* VIEWPORT SETTINGS */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* html5doctor.com/html-5-reset-stylesheet/ */
/* Why do I use this? read: http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/* HTML5 ELEMENT DECLARATIONS */
section, article, header, footer, nav, aside, hgroup { display: block; }

/* BASE STYLES */

body {
	font-family: 'Lato', sans-serif;
}

.page {
	max-width: 37.5em; /* 800/16 = 37.5 */
	margin: 0 auto;
	text-align: center;
	line-height: 1.5;
}


/* SITE NAV BASE STYLES */

.site-header{
	padding-top: 2em;
}

.nav ul{
    list-style-type: none;
    text-align: center;
}

.nav li a {
    display: block;
    text-decoration: none;
}

a#home-link{
	color: #232a2e;
	font-size: 2em; /* 32/16 = 2 */
	font-weight: 900;
	padding-bottom: 1em;
}

a#home-link:hover{
	color: #168eea;
}

a.other-link {
	color: #232a2e;
	font-size: 1.25em;
	font-weight: 100;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #abb4b9;
	margin-left: 5em;
	margin-right: 5em;
}

a.other-link:hover{
	color: #168eea;
}

/* SITE MASTHEAD STYLES */

.masthead{
	padding: 3em;
}

.masthead-header h1 a{
	text-decoration: none;
	color: #232a2e;
	font-size: 1.5em; /* 24/16 = 1.5 */
}

.masthead-header h1 a:hover{
	color: #168eea;
}

.masthead-footer{
	padding: 1em;
}

.masthead-footer ul li{
	float: left;
	width: 33.333333333%;
}

.masthead-footer ul li a{
	text-decoration: none;
	color: #44525a;
}

.masthead-footer ul li a:hover{
	color: #168eea;
}


/* SITE FOOTER STYLES */

.site-footer p{
	color: #abb4b9;
	margin-top: 2em;
	margin-bottom: 2em;
}

.site-footer ul{
	margin: 2em auto;
	padding-bottom: 3em;
	padding-top: 3em;
}

.site-footer ul li{
	float: left;
	width: 33.333333333%;
}

.site-footer ul li a{
	text-decoration: none;
	color: #abb4b9;
}

.site-footer ul li a:hover{
	color: #168eea;
}


/* Home Page Article List styles */

.article-list{
	text-align: left;
}

.article-list ol li{
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 4em;
	padding-top: 1em;
}

.article-list-entry{
	line-height: 2em;
}

.article-list-entry-footer{
	padding-bottom: .25em;
}

.article-list-entry-footer p a{
	color: #abb4b9;
	text-decoration: none;
}

.article-list-entry-header{
	padding-bottom: 1em;
}

.article-list-entry-header h2{
	font-size: 2em;
}

.article-list-entry-header h2 a{
	color: #232a2e;
	text-decoration: none;
}

.article-list-entry-header h2 a:hover{
	color: #168eea;
}

.article-list-entry-summary p{
	font-size: 1.125em;
}

.article-list-entry-summary a{
	color: #232a2e;
	text-decoration: none;
}

.article-list-entry-summary{
	padding-bottom: 1em;
}

.article-list-entry-readmore a{
	color: #168eea;
	text-decoration: none;
}



/* ARTICLE STYLES */

.article-published-date{
	text-align: center;
	color: #abb4b9;
}

.article img{
	max-width: 100%;
}

.article{
	display: inline-block;
	width: 85%; /* results in ~60-70 characters per line */
	text-align: left;
	line-height: 1.75;
	padding-top: 2em;
}

.article h2 {
	text-align: center;
	font-size: 2em; /* 32/16 = 2 */
	font-weight: 900;
}

.article h2 a{
	text-align: center;
	text-decoration: none;
	color: #232a2e;
}

.article-body{
	font-size: 1.125em; /* 18/16 = 1.125 */
	font-weight: 300;
}

.article-body p{
	padding-bottom: 2.5em;
}

.article-body h3{
	font-size: 1.2em;
	font-weight: 700;
	text-align: left;
	padding-bottom: .5em;
}

.article-body ul{
	list-style-type: square;
	width: 85%;
	margin: 0 auto;
	line-height: 2;
	padding-bottom: 2.5em;
}

/* FONT ICON CSS */

/* PROJECT HUB STYLES */

.project-hub{
	text-align: left;
	margin-top: 1em;
	padding-left: 2em;
}

p#project-intro{
	padding-bottom: 2em;
}

.project-hub a {
  color: gray;
  text-decoration: none; 
}

.project-hub a:hover, a:focus {
  color: #168eea;
}


/* Timeline Container */
ol.timeline {
	border-left: 5px solid #dddddd;
	padding-bottom: 3em;
	position: relative; 
}

.tl-content{
	font-size: 1.25em; /* 20/16 = 1.25 */
}

.timeline:before {
	content: "";
    position: absolute;
    bottom: 0;
    left: -1.47em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #dddddd;
    border: 5px solid #dddddd; }

/* Individual Timeline Item */
.tl-node {
	padding-left: 1.5em;
	margin-bottom: 3em;
	position: relative; 
}

.tl-node a {
	display: block; 
}

.tl-node:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: 5px solid #dddddd; 
}

.tl-stamp {
	color: #abb4b9;
	font-size: .875em; /* 14/16 = .875 */
}

/************END PROJECT HUB**************/



/* MEDIA QUERIED STYLES */



/* HI RES STYLES */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){


}

@media all and (min-width: 37.5em){
	.nav ul{
		text-align: left;
		padding-bottom: 1em;
		border-bottom: 1px solid #abb4b9;
	}

	.nav li{
		display: inline-block;
	}

	a#home-link{
		color: #232a2e;
		font-size: 2em; /* 32/16 = 2 */
		font-weight: 900;
		padding-bottom: 0;
		padding-left: .5em;
		padding-right: 2em;
	}

	a.other-link {
		color: #232a2e;
		font-size: 1.25em;
		font-weight: 100;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 2em;
		padding-left: 2em;
		border-top: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.article-list{
		padding: 2em;
	}

	.site-footer ul{
	width: 40%; /* looked good */
	}

}


}
