{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock head %}

{% block header %}
        <div class="masthead" id="masthead" role="banner">
            <div class="masthead-header">
                <header>
                    <h1 role="heading"><a href="{{ SITEURL }}/" role="link">{{ SITENAME }}</a></h1>
                </header>
            </div>
            <div class="masthead-footer" role="contentinfo">
                <footer>
                    <ul>
                        <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}" role="link"><div class="icon-twitter article-footer-icon" data-grunticon-embed></div><span class="article-masthead-icon"> Twitter </span></a></li>
                        <li><a href="https://instagram.com/{{ INSTAGRAM_USERNAME }}" role="link"><div class="icon-instagram article-footer-icon" data-grunticon-embed></div><span class="article-masthead-icon"> Instagram </span></a></li>
                        <li><a href="{{ GITHUB_URL }}" role="link" class="article-masthead-icon"><div class="icon-github4 article-footer-icon" data-grunticon-embed></div><span class="article-masthead-icon"> Github </span></a></li>
                    </ul>
                </footer>
            </div>
        </div>
{% endblock header%}

{% block content %}
<!-- Begin article. Wrapping HTML5 elements in a div and then styling the div in order to avoid javascript workarounds for older browsers -->
  <div class="article" role="article">
    <article>
      <div class="article-footer" role="contentinfo">
        <footer>
            <p class="article-published-date"><time datetime="{{ article.date }}">{{ article.date|datetimefilter }}</time></p>
        </footer>
      </div>
      <div class="article-header" role="heading">
        <header>
          <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" role="link">{{ article.title }}</a>
          </h2>
        </header>
      </div>
      <div class="article-body">
         {{ article.content }}
      </div>
    </article>
  </div>
<!-- end article -->
  <div class="back-to-top">
      <a href="#masthead">Back to top</a>
  </div>
{% endblock content %}
