{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<!-- Begin article. Wrapping HTML5 elements in a div and then styling the div in order to avoid javascript workarounds for older browsers -->
  <div class="article" role="article">
    <article>
      <div class="article-footer" role="contentinfo">
        <footer>
            <p class="article-published-date"><time datetime="{{ article.date }}">{{ article.date|datetimefilter }}</time></p>
        </footer>
      </div>
      <div class="article-header" role="heading">
        <header>
          <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" role="link">{{ article.title }}</a>
          </h2>
        </header>
      </div>
      <div class="article-body">
         {{ article.content }}
      </div>
    </article>
  </div>
<!-- end article -->
{% endblock %}
