<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
        <link rel="stylesheet" type='text/css' href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% endblock head %}
</head>

<body>
    <div class="page">
        <div class="masthead">
            <h1 class="masthead-name"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            <ul class="masthead-social">
                <li><a class="social-link" href="https://twitter.com/{{ TWITTER_USERNAME }}"><span class="fa fa-twitter"> Twitter </span></a></li>
                <li><a class="social-link" href="https://instagram.com/{{ INSTAGRAM_USERNAME }}"><span class="fa fa-instagram"> Instagram </span></a></li>
                <li><a class="social-link" href="{{ GITHUB_URL }}"><span class="fa fa-github-alt"> GitHub </span></a></li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
