{% extends "base.html" %}
{% block content %}
<div class="article-list">
    <section>
        <ol role="list">
            {% for article in articles_page.object_list|homepagefilter %}
            <li>
                <div class="article-list-entry" role="article">
                    <article>

                        <div class="article-list-entry-footer" role="contentinfo">
                            <footer>
                                <p><a href="{{ SITEURL }}/{{ article.url }}" role="link"> <time datetime="{{ article.date }}">{{ article.date|datetimefilter }}</time></a></p>
                            </footer>
                        </div>

                        <div class="article-list-entry-header" role="heading">
                            <header>
                                <h2><a href="{{ SITEURL }}/{{ article.url }}" role="link">{{ article.title }}</a></h2>
                            </header>
                        </div>

                        <div class="article-list-entry-summary"> 
                            <a href="{{ SITEURL }}/{{ article.url }}" role="link"> {{ article.summary }} </a>
                        </div>

                        <p class="article-list-entry-readmore"><a href="{{ SITEURL }}/{{ article.url }}" role="link"> Read more...</a></p>

                    </article>
                </div>
            </li>
            {% endfor %}
        </ol>
    </section>
</div>
{% endblock content %}
